.header {
  color: #fafafa;
  font-weight: 600;
  font-size: larger;
  background-color: #1dcaff;
  height: 100%;
  padding: 5px 17vw 5px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

.nav-item {
  margin: 5px;
}

.nav-home-button {
  margin-left: 17vw;
  position: absolute;
  left: 0;
}


