.feed-container {
  display: table;
  width: 100%;
}

.party-panel {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  min-height: 100%;
  width: 50%;
  box-sizing: border-box;
  display: table-cell;
  padding: 5px;
}

.party-panel-title {
  margin: auto;
}

.d-panel {
  background-color: #007ee5;
}

.r-panel {
  background-color: #ef3525;
}