.party-panel {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
}

.d-panel {
  background-color: #007ee5;
}

.r-panel {
  background-color: #ef3525;
}